doctype html
html(lang='en')
  head
    title Members Only
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul.navbar   
        li.link
          a(href="/") Home 
        li.link
          a(href="/sign-up") Sign Up
        li.link 
          a(href="/sign-in") Sign In
        if user
          li.link 
            a(href='/joinmembers') Join Members
          li.link 
            a(href="/messageForm") Add Message 
          li.red.link 
            a(href='/log-out') Sign out
  block content 
    if user
      h2.center Hello #{user.username}!
    if comments.length > 0
      ul.comments
        each comment in comments
          div.container 
              ul.usercomment
                li= comment.title
                li= comment.comment
              ul.userinfo 
                li
                  b= comment.user.username
                li.time= comment.timestamp.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',hour:'numeric' })

    else
      h1.comments.center No comments found.

  script.
    const links = document.querySelectorAll(".link")
    links.forEach(link => link.addEventListener("click", (e) => {
      e.preventDefault()
      const linkRef = e.currentTarget.querySelector("a")
      window.location = linkRef.href
    }))




    
      

